www/sites/all/modules/xmlcontent/examples/student.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="student">
       <xs:complexType>
           <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="age" type="xs:integer"/>
           </xs:sequence>
       </xs:complexType>
   </xs:element>
</xs:schema>